<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container text-center">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="pay">
        <h1>Payment info</h1>
      </div>
      <div class="panel panel-default credit-card-box">
        <div class="panel-heading display" >
          <div class="row display-tr" >
            <div class="display-td" >
              <img class="flag-img" src="http://i76.imgup.net/accepted_c22e0.png">
            </div>
          </div>
        </div>
        <div class="panel-body">
          <form role="form" id="payment-form" method="POST" action="javascript:void(0);">

            <div class="row">
              <div class="col-xs-6 col-md-12">
                <div class="form-group">
                  <label for="cardNumber" class="title">CREDIT CARD NUMBER</label>
                  <input type="tel"
                  class="form-control"
                  name="cardNumber"
                  placeholder="Valid Card Number"
                  />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 col-md-6 side">
                <div class="form-group2">
                  <label for="cardExpiry" class="title">EXPIRATION DATE</label>
                </div>
              </div>

              <div class="col-xs-6 col-md-6 side">
                <div class="form-group2">
                  <label for="cardCVC" class="title">SECURITY Nº</label>
                </div>
              </div>
              <div class="col-xs-3 col-md-6 side">
                <input
                type="tel"
                class="form-control"
                name="cardExpiry"
                placeholder="MM / YY"
                autocomplete="cc-exp"
                required
                />
              </div>
              <div class="col-xs-3 col-md-6 side">
                <input
                type="tel"
                class="form-control"
                name="cardCVC"
                placeholder="***"
                autocomplete="cc-csc"
                required
                />
                <p></p>
                <p></p>
              </div>
            </div>

            <div class="row" id="marg">
              <div class="col-xs-6 col-md-6">
                <div class="form-group">
                  <label for="couponCode" class="title">COUPON CODE</label>
                </div>
              </div>
              <div class="col-xs-6 col-md-6">
                <input type="text" class="form-control" name="couponCode" />
                <p></p>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12" id="button-container">

                <button type="button" class="subscribe btn btn-success btn-lg btn-block buy" data-toggle="modal"
                data-target="#exampleModalCenter"><span>
                Buy Now</span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h2>Done!</h2>
        <p>You purchase is beeing shipped</p>
        <p></p>
        <p> </p>
        <p>Cheers</p>
        <%= link_to "Back to Home", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>



<div class="wrap">
  <div class="container-title">
    <h2>This will be yours in a while</h2>
  </div>
  <table class="table table-striped">
    <tr>
      <th>price</th>
      <th>model_code</th>
      <th>memory</th>
      <th>color</th>
      <th>status</th>
      <th>description</th>
      <th>category</th>
      <th>product_type</th>
      <th>version</th>
    </tr>
    <tr>
      <td>
        <%= @product.price  %>
      </td>
      <td>
        <%= @product.model_code  %>
      </td>
      <td>
        <%= @product.memory  %>
      </td>
      <td>
        <%= @product.color  %>
      </td>
      <td>
        <%= @product.status  %>
      </td>
      <td>
        <%= @product.description  %>
      </td>
      <td>
        <%= @product.category  %>
      </td>
      <td>
        <%= @product.product_type  %>
      </td>
      <td>
        <%= @product.version  %>
      </td>
    </tr>
  </table>
</div>
</body>
