
<div class="container">

  <h1>Meus produtos</h1>
  <% if @products.count != 0 %>

  <div class="row">
    <% @products.each do |product| %>
    <% if  product[:product_photo].nil? %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../assets/<%=product.photo%>');">
        <div class="card-category"><%= product.category %></div>
        <div class="card-description">
          <h2>$<%= product.price %></h2>
          <p>color:<%= product.color%></p>
          <%= link_to "<i class='fa fa-eye'></i> View".html_safe, product_path(product), class: "btn btn-primary" %>
          <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_product_path(product), class: "btn btn-default", class: 'btn btn-warning btn-md' %>
          <%= link_to '<i class="fa fa-trash"></i> Trash'.html_safe, product_path(product), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-md' %>
        </div>
      </div>
    </div>
    <% else %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path product.product_photo, height: 300, width: 400, crop: :fill %>');">
        <div class="card-category"><%= product.category %></div>
        <div class="card-description">
          <h2>$<%= product.price %></h2>
          <p>color:<%= product.color%></p>
          <%= link_to "<i class='fa fa-eye'></i> View".html_safe, product_path(product), class: "btn btn-primary" %>
          <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_product_path(product), class: "btn btn-default", class: 'btn btn-warning btn-md' %>
          <%= link_to '<i class="fa fa-trash"></i> Trash'.html_safe, product_path(product), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-md' %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <%#= link_to '<i class="fa fa-home"></i> Home'.html_safe, root_path, class: 'btn btn-primary btn-lg'  %>

  <% else %>

  <p>Não existem produtos cadastrados</p>

  <% end %>
</div>

