<h1>Product Page</h1>

<div class="wrapper">
  <div class="container">
    <table class="table table-striped">
    <tr>
      <th>price</th>
      <th>model_code</th>
      <th>memory</th>
      <th>color</th>
      <th>status</th>
      <th>description</th>
      <th>category</th>
      <th>product_type</th>
      <th>version</th>
    </tr>
    <tr>
      <td>
        <%= @product.price  %>
      </td>
      <td>
        <%= @product.model_code  %>
      </td>
      <td>
        <%= @product.memory  %>
      </td>
      <td>
        <%= @product.color  %>
      </td>
      <td>
        <%= @product.status  %>
      </td>
      <td>
        <%= @product.description  %>
      </td>
      <td>
        <%= @product.category  %>
      </td>
      <td>
        <%= @product.product_type  %>
      </td>
      <td>
        <%= @product.version  %>
      </td>
    </tr>
  </table>
  </div>
</div>






<h2>This is are the questions for product id: <%= @product.id  %>
<%= link_to 'Ask a question', new_product_question_path(@product), class: 'btn btn-success btn-lg' %>
</h2>
<% if @questions.length > 0 %>
  <% @questions.each do |question|  %>
    <div class="message question">
      <img class="avatar-large" src="https://pbs.twimg.com/profile_images/929933611754708992/ioSgz49P_400x400.jpg">
      <div class="message-name">
        <h3><%= question.asker.first_name %></h3>
        <p><%= question.created_at %></p>
      </div>
      <div class="message-body">
        <p>
          <strong>
            <%= question.question_description.split[0]%>
            <%= question.question_description.split[1]%>
          </strong>
        </p>
        <p>
          <%= question.question_description %>
        </p>
      </div>
      <div class="message-status">
        <p class="status declined">Question</p>
        <p class="price">
          <% if current_user == question.product.owner && question.answer_description.nil? %>
            <%= link_to 'answer',edit_product_question_path(@product,question), class: 'btn btn-info btn-xs' %>
          <% end %>
        </p>
      </div>
    </div>
      <% if !question.answer_description.nil? %>
        <div class="message answer">
          <img class="avatar-large" src="http://p.fod4.com/p/channels/qpztk/profile/ToJNnsiRhmm405cz7CPX_charlize-theron-head-shot.jpg">
          <div class="message-name">
            <h3><%= question.product.owner.first_name %></h3>
            <p><%= question.updated_at %></p>
          </div>
          <div class="message-body">
            <p>
              <strong>
                <%= question.answer_description.split[0]%>
                <%= question.answer_description.split[1]%>
              </strong>
            </p>
            <p>
              <%= question.answer_description %>
            </p>
          </div>
          <div class="message-status">
            <p class="status accepted">Answer</p>
            <p class="price"></p>
          </div>
        </div>
      <% end %>
  <% end %>
<% end %>


<div class="container">
  <%= link_to 'Ask a question', new_product_question_path(@product), class: 'btn btn-success btn-md' %>

  <%= link_to 'Edit Product', edit_product_path, class: "btn btn-default", class: 'btn btn-warning btn-md' %>

  <%= link_to 'Delete Product', product_path(@product), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-md' %>

</div>
