<div class="container">
  <% col = ' col-sm-12' %>
  <% col1 = ' col-sm-12 col-md-3' %>
  <% col2 = ' col-sm-12 col-md-8' %>
  <% col3 = ' col-sm-12 col-md-1' %>


<% if user_signed_in? %>
  <%  if current_user[:user_photo].nil? %>
    <% user_image_path = 'https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png' %>
  <% else %>
    <% user_image_path = cl_image_path "#{current_user.user_photo}" %>
  <% end %>
  <% else %>
    <% user_image_path = 'https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png' %>
<% end %>



<div class="wrapper">


  <div class="container">
    <div class="row">
      <h1><%= @product.description%></h1>
      <% path = cl_image_path "#{@product.photo}"  %>



      <div class="banner-small" style="background-image:  url('<%= path %>');">
          <div class="banner-content">
          </div>
      </div>


      <% if !@product[:product_photo].nil? %>
        <div class="product-photo <%=col %>">
          <%= cl_image_tag @product.product_photo, height: 300, width: 400, crop: :fill %>
        </div>
      <% end %>

      <table class="table table-striped <%=col%>">
        <tr>
          <th>price</th>
          <th>model_code</th>
          <th>memory</th>
          <th>color</th>
          <th>status</th>
          <th>description</th>
          <th>category</th>
          <th>product_type</th>
          <th>version</th>
        </tr>
        <tr>
          <td>
            <%= @product.price  %>
          </td>
          <td>
            <%= @product.model_code  %>
          </td>
          <td>
            <%= @product.memory  %>
          </td>
          <td>
            <%= @product.color  %>
          </td>
          <td>
            <%= @product.description  %>
          </td>
          <td>
            <%= @product.category  %>
          </td>
          <td>
            <%= @product.product_type  %>
          </td>
          <td>
            <%= @product.version  %>
          </td>
        </tr>
      </table>
      <div class="button-container<%=col%>">
        <%= link_to "<i class='fa fa-shopping-cart'></i> Buy".html_safe, sales_path(@product), class: "btn btn-danger btn-lg" %>
        <% if current_user == @product.owner %>
        <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_product_path, class: "btn btn-default", class: 'btn btn-warning btn-md' %>
        <%= link_to '<i class="fa fa-trash"></i> Trash'.html_safe, product_path(@product), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-md' %>

        <% end %>
      </div>
      <%if User.all.include?(current_user) %>
        <h4>Contact the seller</h4>
        <div class="question-box <%=col%>">
          <%= render 'shared/form_questions', product: @product, question: @question %>
        </div>
      <% end %>
      <% if @questions.length > 0 %>
          <h2>This is are the questions for product id: <%= @product.id  %> </h2>
          <% end %>
      <div id="questions">

        <% if @questions.length > 0 %>


          <div class="questions-container"'>
            <% @questions.reverse.each do |question|  %>
              <div class="message question row" >
                <img class="avatar-large" src="<%=user_image_path %>">
                <div class="message-name <%=col1%>">
                  <h3><%= question.asker.first_name %></h3>
                  <p><%= question.created_at %></p>
                </div>
                <div class="message-body <%=col2%>">
                  <p>
                    <strong>
                      <%= question.question_description.split[0]%>
                      <%= question.question_description.split[1]%>
                    </strong>
                  </p>
                  <p>
                    <%= question.question_description %>
                  </p>
                </div>
                <div class="message-status <%=col3%>">
                  <p class="status declined">Question</p>
                  <p class="price"></p>
                </div>
              </div>
              <% if current_user == question.product.owner && question.answer_description.nil? %>
                <div class="answer-box row">
                  <%= render partial: 'shared/form_answers', locals: { question: question} %>
                </div>
              <% end %>
              <% if !question.answer_description.nil? %>
                <div class="message answer row">
                  <img class="avatar-large" src="<%=user_image_path %>">
                  <div class="message-name <%=col1%>">
                    <h3><%= question.product.owner.first_name %></h3>
                    <p><%= question.updated_at %></p>
                  </div>
                  <div class="message-body <%=col2%>">
                    <p>
                      <strong>
                        <%= question.answer_description.split[0]%>
                        <%= question.answer_description.split[1]%>
                      </strong>
                    </p>
                    <p>
                      <%= question.answer_description %>
                    </p>
                  </div>
                  <div class="message-status <%=col3%>">
                    <p class="status accepted">Answer</p>
                    <p class="price"></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
