<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Feira da Maçã | Seminovos da Apple</title>
  <!-- Google result description-->
  <meta name="description" content="Compre produtos Apple seminovos 100% originais">
  <meta property="og:title" content="Feira da Maçã é a loja online de produtos Apple seminovos">
  <meta property="og:image" content="http://res.cloudinary.com/dsxbknylk/image/upload/v1522967521/foto-card.png">
  <meta property="og:description" content="Aqui você encontra aquele produto Apple que tanto deseja por um preço ótimo.">
  <meta property="og:site_name" content="feira da maça"/>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117045853-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117045853-1');
  </script>

</head>
<header>
  <%= render 'shared/navbar' %>
</header>
<body>
    <%= render 'shared/flashes' %>
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
  <footer>
    <%= render 'shared/footer' %>
  </footer>
</body>
</html>
